<h1>今後のスケジュール</h1>

<%= link_to '予定を追加する', new_calender_path %>

<%= month_calendar events: @calenders do |date, calenders| %>
  <%= date.day %>

  <% calenders.each do |calender| %>
    <div>
      <%= link_to calender.title, calender_path(calender) %>
    </div>
  <% end %>
<% end %>