<% if @notifications.exists? %>
    <table class="table notification-table" style="width: 60%;">
      <% @notifications.each do |notification| %>
        <tr>
          <td>
            <i class="far fa-user-circle"></i>
            <%= notification.visitor.name %>さんが
            <% case notification.action %>
              <% when 'follow' then %>
                <%= "あなたをフォローしました" %>
                <i class="far fa-handshake"></i>
              <% when "comment" then %>
                <% if notification.stress.user.id == current_user.id %>
                  <%= link_to "あなたの投稿", stress_path(notification.stress) %>
                    にコメントしました
                  <i class="far fa-comment"></i>
                <% end %>
              <% when "favorite" then %>
                  <%= link_to "あなたの投稿", stress_path(notification.stress) %>
                    にいいねしました
                  <i class="fas fa-heart"></i>
              <% end %>
          </td>
        </tr>
      <% end %>
    </table>
  <% else %>
    <div class="no-notification">
      <h2>
        現在通知はありません！<br>
        他のユーザーにフォロー、いいね、コメントされると、<br>
        ここに通知が表示されます！
      </h2>
    </div>
  <% end %>
</div>