<% if @notifications.empty? %>
  <div class="no-notification">
    <h2>
      現在通知はありません！<br>
      他のユーザーにフォロー、いいね、コメントされると、<br>
      ここに通知が表示されます！
    </h2>
  </div>
<% else %>
  <table class="table notification-table" style="width: 60%;">
    <% @notifications.each do |notification| %>
      <tr>
        <td>
        <i class="far fa-user-circle"></i>
          <%= notification.visitor.name %>さんが
            <% case notification.action %>
              <% when 'follow' then %>
                <%= "あなたをフォローしました" %>
                <i class="far fa-handshake"></i>
              <% when "comment" then %>
                <% if notification.book.user.id == current_user.id %>
                  <%= link_to "あなたの投稿", book_path(notification.book) %>
                    にコメントしました
                  <i class="far fa-comment"></i>
                <% end %>
              <% when "favorite" then %>
                  <%= link_to "あなたの投稿", book_path(notification.book) %>
                    にいいねしました
                  <i class="fas fa-heart"></i>
              <% end %>
          </td>
        </tr>
      <% end %>
    </table>
  <% end %>
</div>