<div class="top-picture">
  <%= image_tag("book.jpg")  %>
</div>

<div class="top-container">
  <h3 class="top-title">Bookersとは</h3>
  <p class="top-message">
    Bookersは、<span class="title-border">本の感想や評価</span>をチェックしたり、<span class="title-border">感想やレビュー</span>を
  </p>
  <p class="top-message">
    書いたり、<span class="title-border">読書の管理・記録</span>をすることができます！
  </p>
</div>

