// Place all the styles related to the Homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  background-color: #fff;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

pre {
  background-color: white;
  padding: 10px;
  font-size: 11px;
}

a {
  color: black;

  &:visited {
    color: black;
  }

  &:hover {
    color: black;
    background-color: #000;
  }
}

th {
  padding-bottom: 5px;
}

td {
  padding-bottom: 7px;
  padding-left: 5px;
  padding-right: 5px;
}

#notice {
  color: green;
}

#error_explanation {
  color: red;
  }

label {
  display: block;
}

.top-picture {
  text-align: center;
}

.top-container {
  text-align: center;
}

.top-title {
  font-size: 40px;
  margin: 50px 0 30px;
}

.top-message {
  font-size: 20px;
  margin-bottom: 10px;
}

.title-border{
  border-bottom: solid 5px #8ad8ff;
}

.about-container {
  margin-top: 60px;
  text-align: center;
}

.pickup-container {
  text-align: center;
}

.pickup {
  margin: 50px 0;
  font-size: 30px;
}

